In [6]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv("salary.csv")
print(df)

       age          workclass  fnlwgt    education  education-num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital-gain  capital-loss  hours-per-week  native-country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       salary
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]

In [12]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [16]:
df.min()

age                                17
workclass                           ?
fnlwgt                          12285
education                        10th
education-num                       1
marital-status               Divorced
occupation                          ?
relationship                  Husband
race               Amer-Indian-Eskimo
sex                            Female
capital-gain                        0
capital-loss                        0
hours-per-week                      1
native-country                      ?
salary                          <=50K
dtype: object

In [18]:
df.max()

age                              90
workclass               Without-pay
fnlwgt                      1484705
education              Some-college
education-num                    16
marital-status              Widowed
occupation         Transport-moving
relationship                   Wife
race                          White
sex                            Male
capital-gain                  99999
capital-loss                   4356
hours-per-week                   99
native-country           Yugoslavia
salary                         >50K
dtype: object

In [22]:
df.mean(numeric_only=True)

age                   38.581647
fnlwgt            189778.366512
education-num         10.080679
capital-gain        1077.648844
capital-loss          87.303830
hours-per-week        40.437456
dtype: float64

In [24]:
df.median(numeric_only=True)

age                   37.0
fnlwgt            178356.0
education-num         10.0
capital-gain           0.0
capital-loss           0.0
hours-per-week        40.0
dtype: float64

In [28]:
df.mode(numeric_only=True)

    age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
0  36.0  123011            9.0           0.0           0.0            40.0
1   NaN  164190            NaN           NaN           NaN             NaN
2   NaN  203488            NaN           NaN           NaN             NaN

In [30]:
df.std(numeric_only=True)

age                   13.640433
fnlwgt            105549.977697
education-num          2.572720
capital-gain        7385.292085
capital-loss         402.960219
hours-per-week        12.347429
dtype: float64

In [32]:
df.groupby(['fnlwgt'])['hours-per-week'].mean()

fnlwgt
12285      20.0
13769      30.0
14878      40.0
18827      40.0
19214      40.0
           ...
1226583    52.0
1268339    40.0
1366120     8.0
1455435    40.0
1484705    25.0
Name: hours-per-week, Length: 21648, dtype: float64

In [36]:
df_u=df.rename(columns={'fnlwgt':'FNLWGT'},inplace=False)

In [38]:
df_u['FNLWGT'].mean()

189778.36651208502

In [40]:
df_u.groupby(['education-num']).FNLWGT.mean()

education-num
1     235889.372549
2     239303.000000
3     232448.333333
4     188079.171827
5     202485.066148
6     196832.465166
7     194928.077447
8     199097.508083
9     189538.739739
10    188742.922370
11    181936.016643
12    193424.093721
13    188055.914846
14    179852.362739
15    185663.706597
16    186698.760291
Name: FNLWGT, dtype: float64

In [42]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [48]:
df.loc[:,'capital-gain'].median

<bound method Series.median of 0         2174
1            0
2            0
3            0
4            0
         ...
32556        0
32557        0
32558        0
32559        0
32560    15024
Name: capital-gain, Length: 32561, dtype: int64>

In [50]:
df.loc[:,'age'].mean()

38.58164675532078

In [52]:
df.loc[:,'age'].min(skipna=True)

17

In [54]:
df.loc[:,'age'].mode()

0    36
Name: age, dtype: int64

In [56]:
df.loc[:,'age'].max(skipna=False)

90

In [ ]:
dt.loc[:,'age'].std()